.single-comment-main-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 10px;
  margin-top: 8px;
  padding: 14px 0;
  border-bottom: 1px solid #cecece;
}

.single-comment-main-container p:first-of-type {
  white-space: pre-line;
}

.comment-author-profile-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.comment-author-profile-picture-container {
  width: 40px;
  height: 40px;
}

.comment-author-profile-picture-container img {
  border-radius: 50%;
}